@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web&display=swap");

/* Reset */

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    color: black;
}

/* Estrutura */

.estrutura {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    height: 80px;
    background: #00bfff;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    font-weight: 700;
    cursor: pointer;
    display: inlin-block;
    font-size: 1.5em;
    padding: 5px 20px;
}

.menu ul {
    display: flex;
    gap: 15px;
}

.menu ul li a {
    color: white;
    padding: 5px 8px;
    transition: 0.3s;
    font-size: 1.1em;
    border-radius: 5px;
}

.tipo-message {
    margin-top: 15px;
}

.menu ul li a:hover {
    background: rgba(0, 0, 0, 0.55);
    color: white;
}

/* Home */

.conteudo-principal,
.tipos-produtos {
    min-height: calc(100vh - 160px);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bem-vindo {
    text-align: center;
    margin-top: 200px;
}

.bem-vindo p {
    font-weight: 400;
    margin-top: 15px;
    font-size: 1.1em;
}

.bem-vindo a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 15px;
    display: inline-block;
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    transition: 0.25s;
}

.bem-vindo a:hover {
    color: white;
    background: black;
}

.loja-mirante {
    text-align: center;
    display: flex;
    font-size: 3em;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    background: black;
    color: white;
}

.titulo-mirante {
    font-size: 3em;
}

.icon-mirante {
    color: white;
}

/* Venda */

.venda {
    display: grid;
    flex-direction: row;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.half {
    padding: 30px;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #00bfff;
}

.input-base {
    width: 100%;
    display: flex;
    height: 55px;
}

.input-base + .input-base {
    margin-top: 15px;
}

.input-base input,
.input-base select {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    padding: 0 10px;
}

.input-base label,
.input-base input,
.input-base select {
    font-size: 1.075em;
    height: 100%;
    line-height: 55px;
    border: 2px solid #d4d4d4;
}

.input-base label {
    width: 125px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    border-right: none;
    background: #e6eaec;
    color: white;
    color: rgb(147, 147, 147);
}

.group-inputs {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.group-inputs .input-base {
    margin: 0;
}

.button-pr {
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-size: 1.075em;
    background: #0057d8;
    border: none;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
}

/* Tabela */

tr td,
.product-card h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.tabela {
    width: 100%;
}

.corpo-tabela tr {
    border-top: 1px solid #afafaf;
}

.corpo-tabela tr:last-child {
    border-bottom: 1px solid #afafaf;
}

tr {
    display: grid;
    padding: 8px 0;
    font-size: 1.075em;
    text-align: right;
    grid-template-columns: 28% 2fr 2fr 2fr 1fr;
}

tfoot tr {
    grid-template-columns: 28% 1fr;
}

.concluir-venda-actions + .message {
    margin-top: 12px;
}

.concluir-venda-actions button {
    border-radius: 3px;
    padding: 5px 20px;
    color: white;
    background: #00bfff;
    transition: 0.1s;
    outline: none;
    border: 1px solid #00bfff;
    cursor: pointer;
}

.concluir-venda-actions button:hover {
    background: #f5c6cb;
    color: red;
    border: 1px solid red;
}

.button-ex-item {
    padding: 3px 5px;
    cursor: pointer;
    border: 1px solid #f5c6cb;
    transition: 0.1s;
}

.button-ex-item:hover {
    border: 1px solid red;
}

#sem-itens {
    grid-template-columns: 1fr;
}

.right-text {
    text-align: right;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

/* Message */

.message {
    text-align: center;
    font-size: 1.075em;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 0;
    border: 1px solid transparent;
}

.error,
.button-ex-item {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Produtos */

.produtos {
    padding: 25px;
}

.product-actions {
    display: flex;
    gap: 5px;
    margin-bottom: 12px;
    margin-left: auto;
}

.product-actions a:hover {
    background: white;
    color: #008ebd;
}

.product-actions a {
    transition: 0.3s;
    border: 1px solid #00bfff;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
    background-color: #008ebd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-produtos {
    width: 500px;
    padding: 5px 0 5px 15px;
    border-left: 10px solid #00bfff;
    background: #ccf1ff;
}

.container-produtos {
    display: flex;
    margin-top: 20px;
    width: 100%;
    gap: 45px;
    flex-wrap: wrap;
}

.product-card {
    border: 1px solid #00bfff50;
    position: relative;
    max-width: 300px;
    min-width: 300px;
    padding: 20px;
    box-shadow: #00bfffb4 5px 5px, #00bfff88 10px 10px, #00bfff64 15px 15px,
        #00bfff3b 20px 20px, #00bfff16 25px 25px;
    border-radius: 2px;
}

.product-card h3,
.tipos-visu h3 {
    padding: 5px 0 5px 15px;
    text-align: center;
    background: #e1f7ff;
    font-style: italic;
}

.preco-produto {
    font-size: 1.05em;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.preco-produto span {
    color: green;
}

.tipo-produto {
    margin-top: 10px;
    width: 100%;
    text-align: right;
    font-size: 0.95em;
    font-style: italic;
    color: grey;
}

.aproveite {
    font-size: 0.9em;
    color: grey;
    margin: 15px;
}

.produtos-form {
    margin-top: 55px;
}

.cadastro-input {
    margin: 20px 0;
}

/* Form Genérico */

.form-generico {
    width: 500px;
}

.cadastro-btn {
    width: 400px;
    margin-top: 40px;
    cursor: pointer;
}

.form-generico button {
    margin-top: 20px;
    padding: 8px 32px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.3em;
    border: 1px solid #00bfff;
    color: #00bfff;
}

/* Relatório */

.relatorio-vendas {
    padding: 25px;
}

.relatorio-vendas-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 550px;
}

.venda-card {
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    box-shadow: #00bfff 0px 1px 4px, #00bfff90 0px 0px 0px 3px;
    /* box-shadow: #00bfffb4 5px 5px, #00bfff88 10px 10px, #00bfff64 15px 15px,
        #00bfff3b 20px 20px, #00bfff16 25px 25px; */
}

.venda-card + .venda-card {
    margin-top: 35px;
}

.data-venda {
    font-style: italic;
    font-size: 0.95em;
    color: rgba(0, 0, 0, 0.53);
    font-weight: 700;
}

.itens-titulo {
    padding: 5px 35px 5px 5px;
    border-left: 10px solid #00bfff;
    background: #ccf1ff;
    display: inline-block;
    margin: 15px 0 22px 0;
}

.item-venda-card {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
        rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 3px;
    max-width: 50%;
}

.item-venda-card + .item-venda-card {
    margin-top: 15px;
}

.item-venda-card h4 {
    color: #008ebd;
}

.item-venda-card h4 span {
    font-size: 0.96em;
    color: rgba(0, 0, 0, 0.569);
}

.deletado {
    background: #f5c6cb;
    border: 1px solid red;
}

.deletado-p {
    margin: 10px 0 0 0;
    font-style: italic;
    color: red;
    font-size: 0.8em;
}

.deletado-p span {
    font-weight: bold;
    text-transform: uppercase;
}

.preco-item-venda,
.total-item-venda,
.imposto-item-venda {
    margin-top: 8px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.569);
    width: 100%;
}

.preco-item-venda span,
.total-item-venda span,
.imposto-item-venda span {
    font-style: italic;
    color: green;
}

/* Loading */

.loading-div img {
    height: 100%;
}

.loading-div {
    margin: 15px 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}
.imposto-item {
    margin-top: 10px;
    height: 30px;
    align-items: center;
    display: flex;
    color: red;
    font-weight: bold;
    margin-top: 20px;
    font-style: italic;
}

.imposto-item img {
    height: 100%;
    margin-right: 5px;
}

/* Tipo Produto */

.titulo-large {
    width: 700px;
    font-size: 1.5em;
}
.tipo-form {
    width: 100%;
    margin-top: 25px;
}

.tipos-produtos {
    padding: 25px;
    display: flex;
    gap: 25px;
}

.sem-tipos {
    margin: 0 0 15px 0;
    text-align: center;
}

.tipos-button-div button {
    width: 100%;
    font-size: 1.075em;
    padding: 12px 0;
    background: #0057d8;
    border: none;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tipos-produtos-container {
    display: flex;
}

.vertical {
    width: 1px;
    background: #cccccc;
    display: block;
}

.tipos {
    display: flex;
    flex-direction: column;
    gap: 0;
    flex: 1;
}

.tipos-container {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    overflow-y: scroll;
}

.tipos-visu {
    border: 1px solid #008ebd;
    border-radius: 3px;
    width: 100%;
    padding: 15px;
}

.tipos-visu + .tipos-visu {
    margin-top: 15px;
}

.centralizado-imposto {
    width: 100%;
    justify-content: center;
}

/* Edição Produto */

.edicao-produto {
    padding: 25px;
}

.sem-produto-edicao {
    font-size: 1.2em;
    margin: 15px 0 0 0;
    font-weight: bold;
    color: red;
}
